<ion-modal-view>
  <ion-content class="item_amount_calc_container">
    <div class="list">
      <div class="row blue_bg white_text full_width">
        <span class="text-center full_width padding bold">עדכון כמות</span>
      </div>

      <div class="row blue_bg white_text full_width">
        <span class="text-center full_width item_amount_modal_sum">{{ cs.displayItemAmountModalSum() }}</span>
      </div>
      <div class="row">
        <div class="col col-50 light_grey_bg blue_text" ng-click="cs.updateModalCalcSum('0')">0</div>
        <div class="col col-50 light_grey_bg blue_text" ng-click="cs.resetModalCalcSum()">c</div>
      </div>
      <div class="row">
        <div class="col dl_col blue_text greyer_bg" ng-click="cs.addToModalCalcSum(144)">
          <span class="dl_col_amount">144</span>
          <span class="dl_col_label">קרטון</span>
        </div>
        <div class="col blue_text" ng-click="cs.updateModalCalcSum('9')">9</div>
        <div class="col blue_text" ng-click="cs.updateModalCalcSum('8')">8</div>
        <div class="col blue_text" ng-click="cs.updateModalCalcSum('7')">7</div>
      </div>
      <div class="row">
        <div class="col dl_col blue_text greyer_bg" ng-click="cs.addToModalCalcSum(24)">
          <span class="dl_col_amount">24</span>
          <span class="dl_col_label">קופסא</span>
        </div>
        <div class="col blue_text" ng-click="cs.updateModalCalcSum('6')">6</div>
        <div class="col blue_text" ng-click="cs.updateModalCalcSum('5')">5</div>
        <div class="col blue_text" ng-click="cs.updateModalCalcSum('4')">4</div>
      </div>
      <div class="row">
        <div class="col dl_col blue_text greyer_bg" on-hold="cs.changeArbitraryVar()"
          ng-class="{'arbitraryChangeActive': cs.arbitraryVarFlag == true}"
          on-tap="cs.addToModalCalcSum(cs.displayItemArbitraryAmount() )">
            <span class="dl_col_amount">{{ cs.displayItemArbitraryAmount() }}</span>
            <span class="dl_col_label">משתנה</span>
          </div>
        <div class="col blue_text" ng-click="cs.updateModalCalcSum('3')">3</div>
        <div class="col blue_text" ng-click="cs.updateModalCalcSum('2')">2</div>
        <div class="col blue_text" ng-click="cs.updateModalCalcSum('1')">1</div>
      </div>

      <div class="row">
        <div class="col col-50 blue_text greyer_bg button-transparent-container">
          <button class="button button-transparent" ng-click="modal.hide()">בטל</button>
        </div>
        <div class="col col-50 blue_text greyer_bg button-transparent-container">
          <button class="button button-transparent" ng-click="cs.updateItemAmount()">אשר</button>
        </div>
      </div>
    </div>
  </ion-content>
</ion-modal-view>
